################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net4-api/net4-api/bin
/net4-api/net4-api/obj/Debug
/net4-api/packages
/net4-api/S1_DistCache_1_Instance
/net4-api/S1_MemCache_1_Instance
/net4-api/S1_NoCache_1_Instance
/net4-api/jmeter.log
/net4-api/P1V2_C4_DistCache_1_Instance
/net4-api/P2V2_C4_DistCache_1_Instance
/net4-api/S1_C4_DistCache_1_Instance
/net4-api/S1_C6_DistCache_1_Instance
/net4-api/S1_C6_MemCache_1_Instance
/net4-api/S1_C6_New_DistCache_1_Instance
/net4-api/S1_C6_RedisCache_1_Instance
/net4-api/S3_C4_DistCache_1_Instance
/net4-api/net4-api/Properties/PublishProfiles/ANCars - Web Deploy.pubxml.user
/net4-api/S1_C6_10_RedisCache
/net4-api/S1_C6_10_DistCache
/net4-api/S1_C1_1_RedisCache
/net4-api/S1_C1_1_MemCache
/net4-api/S1_C1_1_DistCache
/net4-api/S1_C1_10_RedisCache
/net4-api/S1_C1_10_MemCache
/net4-api/S1_C1_10_DistCache
/net4-api/S1_C1_10_DistCache_1Min
/net4-api/S1_C1_10_DistCache_AUE
/net4-api/S1_C1_10_MemCache_1Min
/net4-api/S1_C1_10_RedisCache_1Min
/net4-api/S1_C1_10_RedisCache_AUE
/net4-api/S1_C1_1_DistCache_1Min
/net4-api/S1_C1_1_MemCache_1Min
/net4-api/S1_C1_1_RedisCache_1Min
